{
    "Credentials": {
        "Login": "",
        "Password": ""
    },
    "OrgURL": "",
    "Workdays": [1,2,3,4,5],
    "behavior": {
        "PunchType": "Benefit",
        "InTime": "",
        "OutTime": "",
        "BenefitType": "OTH - Other",
        "BenefitHours": "8.00"
    }
}